/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
/*usado apenas para um componente*/
.page_imagem__gpuxD{
    border-radius: 20px;
    display: block;
    margin-top: 10px;
}

.page_paragrafo__X8XYK{
    color: black;
    text-align: center;
    margin-top: 10px;
  }

