.li{
    text-align: center;
    display: block;
}

.logo{
    display: flex;
    margin-left: 30px;
}

.imagem{
    border-radius: 35px;
}

.meuHeader{
    margin-top: 10px;
}

.Pegatudo{
    text-align: center;
    background-color: rgb(134, 220, 191);
}