.DivMenu{
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff; /* Ajuste a cor conforme seu design */
    z-index: 1000; /* Para garantir que o menu fique acima de outros elementos */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Opcional: adiciona uma sombra suave */
    min-height: 60px; /* Ajuste conforme necessário */
    display: flex;
    align-items: center;
    position: relative;
    
}

/* .body{
    padding-top: 80px;
} */


.imagem{
    border-radius: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.Pegatudo{
    background-color: rgb(73, 134, 192);
    display: flex;
    justify-content: space-between; /* Empurra o logo para um lado e o menu para o outro */
    align-items: center; /* Centraliza verticalmente */
    width: 100%;
}

/* NAVEGAÇÃO*/
.nav{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.ul{
    display: flex;
    position: relative;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: flex-end; /* Alinha o menu à direita */
    
}
.li{
    display: flex;
    margin-left: 40px;
    margin-right: 15px;
    padding: 10px;
    position: relative;
}

.link{
    color: rgb(28, 58, 116);
    font-weight: 700;
    transition: color 0.3s ease;
    font-size: 17px;
    display: flex;
}
.link:hover{
    color: #b0b8c4;
}

.container_menuMenor{
    display: flex;
    cursor: pointer;
    font-size: 2rem;
}

@media(max-width:400px){
    .nav{
        display: none;
        
     }
    .nav_active{
        display: flex;
        visibility: visible;
        transform: none;
        top: 40px;
        right: 0;
        width: 50%;
        height: 110px;
        gap: 0;
        z-index: 1000;
        border-radius: 5px; 
        opacity: 1;
        transform: translateY(0); 
    }

    .ul{
        display: flex;
        top: 1rem;
        left: 0px;
        width: 100%;

    }
    .li{
        margin: 0 auto;
    }
    .container_menuMenor{
        display: flex;
    }
    
}

.submenu {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    /* position: relative; */
    position: absolute;
    top: 100%; /*Garante que ele apareça abaixo do menu principal*/
    left: 0;
    background-color: #23578f;
    padding: 10px;
    z-index: 999;
}

.li:hover .submenu {
    opacity: 1;
    transform: translateY(0);
}

.submenu li {
    list-style: none;
    padding: 10px 15px;
}

.submenu li:hover {
    background-color: #072b52;
    cursor: pointer;
}

.submenu li a {
    text-decoration: none;
    color: rgb(6, 6, 6);
    font-weight: bold;
    display: block;
}

.submenu li:hover a {
    color: rgb(255, 255, 255);
}

  
  /* Estilos adicionais para os itens de menu */
  .menu-item {
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 10px;
  }
  
