
.imagem{
    border-radius: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.Pegatudo{
    background-color: rgb(73, 134, 192);
    display: flex;
    justify-content: space-between; /* Empurra o logo para um lado e o menu para o outro */
    align-items: center; /* Centraliza verticalmente */
    width: 100%;
    
}

/* NAVEGAÇÃO*/
.nav{
    display: flex;
    justify-content: center; 
    flex-direction: row;
   
}

.ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: flex-end; /* Alinha o menu à direita */
    
}
.li{
    display: flex;
    margin-left: 40px;
    margin-right: 15px;
    padding: 10px;
    color: #FFFF;
}
.link{
    color: rgb(28, 58, 116);
    font-weight: 700;
    transition: color 0.3s ease;
    font-size: 17px;
    display: flex;
}
.link:hover{
    color: #0b1729;
}

.container_menuMenor{
    display: flex;
    cursor: pointer;
    font-size: 2rem;
}

@media(max-width:400px){
    .nav{
        display: none;
        flex-wrap: wrap;  /* Quebra os itens quando não couberem */
        gap: 10px; /* Adiciona espaço entre os itens */
        
     }
    .nav_active{
        display: flex;
        visibility: visible;
        transform: none;
        top: 40px;
        right: 0;
        width: 50%;
        height: 110px;
        gap: 0;
        z-index: 1000;
        border-radius: 5px; 
        opacity: 1;
        transform: translateY(0); 
    }

    .ul{
        display: flex;
        top: 1rem;
        left: 0px;
        width: 100%;

    }
    .li{
        margin: 0 auto;
    }
    .container_menuMenor{
        display: flex;
    }
    
}

.menu_button{
    background: none;
    border: none;
    color: rgb(28, 58, 116);
    font-weight: 700;
    transition: color 0.3s ease;
    font-size: 17px;
    display: flex;
    cursor: pointer;
}

.menu-button:hover {
    color: #091623;
    border-radius: 5px;
  }
  
  /* Submenu */
  .submenu {
    position: absolute;
    top: 40px;
    left: 0;
    background: rgb(24, 74, 140);
    list-style: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    min-width: 150px;
  }
  
  .submenu li {
    padding: 8px 12px;
    color: rgb(214, 203, 203);
    cursor: pointer;
    transition: 0.3s;
  }
  
  .submenu li:hover {
    background-color: #4b81be;
    border-radius: 3px;
  }