.DivMenu{
  background-color: #ffffff;
}

.DivPegatudo{
  background-color: rgb(255, 255, 255);
}
.DivLogo{
  width: 10px;
}

.paragrafo{
  margin-top: 10px;
  text-align: center;

}

.h1{
  text-align: center;
}
